<div class="container">
    <div class="row">
        <div class=" col-md-4 offset-md-4 mt-4">
            <h1>Nouveau Magasin</h1>

            <%= render 'shared/shops_form'%>

        
            <br>
            <%= link_to 'Back', shops_path,:class => "btn btn-primary text-white" %>
        </div>
    </div>
</div>